<section class="amazon">

    <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B08XMF4NGP/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B08XMF4NGP&linkCode=as2&tag=associate0035-22&linkId=b794c89c2c55a86a83d2ed095f882aea"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B08XMF4NGP&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=associate0035-22" ></a>

    <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B08LN3HPYF/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B08LN3HPYF&linkCode=as2&tag=associate0035-22&linkId=1aa7efb39b123ab33381cbb9305a9af0"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B08LN3HPYF&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=associate0035-22" ></a>

</section>