{{ with .Site.Params.author }}
<section class="sidebar">
  <header>インフォメーション</header>
  <div>
    <div class="author">
      {{ with .thumbnail }}
      <div class="author-thumb" style="background-image: url({{ $.Site.BaseURL }}favicon.ico);"></div>
      {{ end }}
      <div class="author-name">{{ .name }}</div>
      <ul class="author-facts">
        {{ with .twitter }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>{{ end }}
        {{ with .github }}<li><a href="{{ . }}" rel="nofollow" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>{{ end }}
      </ul>
      <div class="author-description">
        <!-- <a href="{{ $.Site.BaseURL }}/posts/welcome/" rel="nofollow">このブログや筆者について</a><br>
        <br>
        <a href="{{ $.Site.BaseURL }}/posts/privacypolicy/" rel="nofollow">プライバシーポリシーについて</a><br> -->
      </div>
    </div>
  </div>
</section>
{{ end }}
