<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ $.Site.BaseURL }}/js/lunr.js"></script>
<script src="{{ $.Site.BaseURL }}/js/lunr.stemmer.support.js"></script>
<script src="{{ $.Site.BaseURL }}/js/tinyseg.js"></script>
<script src="{{ $.Site.BaseURL }}/js/lunr.jp.js"></script>
<script src="{{ $.Site.BaseURL }}/js/lunr.multi.js"></script>
<script src="{{ $.Site.BaseURL }}/js/search.js"></script>
<script>
    $(function(){
        $("input"). keydown(function(e) {
            if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
                return false;
            } else {
                return true;
            }
        });
    });
</script>
<section class="sidebar">
  <header>SEARCH</header>
  <div >
    <form class="custome_form" action="{{ .Permalink }}" onkeyup="search()">
      <input id="search-query" placeholder="記事の検索" name="query" autocomplete="off" search />
    </form>

    <ul id="results">
    <div class="gcse-search"></div>
  </div>
</section>
