<aside class="l-sidebar">

  <div class="sections sidebar">

    {{ partial "author.html" . }}

    <br> 

    <section class="sidebar">
      <header>製作中ゲーム</header>
      <div>
        Macの場合Chromeブラウザだと見れない可能性があります。<br>
        <a href="{{ $.Site.BaseURL }}/CasualBattle_web/index.html">ADDベンチャー</a><br>
        <img border="0" src="{{ $.Site.BaseURL }}/thumbnail_game1.png" width="100%" height="auto" alt="サムネ"><br>
        クソゲー率90%ですが、暇つぶしにどうぞ<br>
      </div>
    </section>
    
    <br>
    
    <section class="sidebar">
      <header>公式ブログ</header>
      <div>
        <a href="https://blogs.unity3d.com/jp/">Unity Blog</a>
      </div>
    </section>

    <br>

    <section class="sidebar">
      <header>アプリ売上</header>
      <div>
        <a href="http://game-i.daa.jp/?cmd=s&k=6c860e6d10">AppStoreアプリ最新セールスランキング</a>
      </div>
    </section>

    <br>

    {{ partial "search.html" . }}  

    {{ partial "af_amazon.html" . }}
  
    <br>
    {{ partial "adsense.html" . }}
    <br>
    
    {{ partial "categories.html" . }}
    <br> 

  </div>

</aside>
