<aside class="l-sidebar">

  <div class="sections sidebar">

    {{ partial "author.html" . }}

    <br>

    <section class="sidebar">
      <header>製作中ゲーム</header>
      <div>
        ↓趣味でUnityでゲームを作っております↓
        <a href="https://game230035.github.io/game/game/"><img border="0" src="{{ $.Site.BaseURL }}thumbnail_game3.png" width="100%" height="auto" alt="Revengers"></a><br>
      </div>
      <br>
    </section>
    
    <br>

    <section class="sidebar">
      <header>固定リンク</header>
      <div>
        <article class="fixedlink">
          <a href="posts/monst/monst9/">
               <div class="box">
                    <div class="thumb thumb-d3f6093f63c79192d4dd3b210e12921d"></div>

                    <div class="inner">
                         <div class="title">[モンスト]未開の大地の使用キャラをメモって欲しいキャラを選定する</div>
                    </div>
               </div>
          </a>
          <br>
          <a href="posts/monst/monst11/">
            <div class="box">
                 <div class="thumb thumb-d3f6093f63c79192d4dd3b210e12921d"></div>

                 <div class="inner">
                      <div class="title">モンスト]禁忌の獄の使用キャラをメモって欲しいキャラを選定する</div>
                 </div>
            </div>
       </a>
        </article>
      </div>
    </section>

    <br>
    
    <section class="sidebar">
      <header>Twitter</header>
      <div>
        <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="400" data-theme="dark" href="https://twitter.com/IT67709618?ref_src=twsrc%5Etfw">Tweets by IT67709618</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </section>

    <br>

    <section class="sidebar">
      <header>スマホアプリ/PCゲーム　売上</header>
      <div>
        <a href="http://game-i.daa.jp/?cmd=s&k=6c860e6d10">AppStoreアプリ最新セールスランキング</a>
      </div>
      <br>
      <div>
        <a href="https://store.steampowered.com/search/?filter=topsellers">steam 売上トップ</a>
      </div>
    </section>

    <br>

    <section class="sidebar"></section>

    <br>
    
    {{ partial "af_amazon.html" . }}
  
    <br>
    
    {{ partial "categories.html" . }}
    <br> 

  </div>

</aside>
