<aside class="l-sidebar">

  <div class="sections sidebar">

    {{ partial "author.html" . }}

    <br>

    <section class="sidebar">
      <header>製作中ゲーム</header>
      <div>
        <a href="https://comboeng.github.io/game/game/">Revengers</a><br>
        <a href="https://comboeng.github.io/game/game/"><img border="0" src="{{ $.Site.BaseURL }}thumbnail_game3.png" width="100%" height="auto" alt="Revengers"></a><br>
      </div>
      <br>
      <!-- <div>
        <a href="{{ $.Site.BaseURL }}/CasualBattle_web/index.html">ADDベンチャー</a><br>
        <img border="0" src="{{ $.Site.BaseURL }}/thumbnail_game1.png" width="100%" height="auto" alt="サムネ"><br>
        クソゲー率90%ですが、暇つぶしにどうぞ<br>
      </div>
      <br>
      <br>
      <div>
        <a href="{{ $.Site.BaseURL }}/dropfloor_web/index.html">落ちるなキケン</a><br>
        <img border="0" src="{{ $.Site.BaseURL }}/thumbnail_game2.png" width="100%" height="auto" alt="サムネ"><br>
        某ゲームのオマージュで、まだ途中です。<br>
        二人以上入室しないと、ゲームがスタートしません。<br>
        とりあえず、同居人と遊んでみたいので、掲載しました。<br>
      </div> -->

    </section>
    
    <br>
    
    <section class="sidebar">
      <header>Twitter</header>
      <div>
        <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="400" data-theme="dark" href="https://twitter.com/IT67709618?ref_src=twsrc%5Etfw">Tweets by IT67709618</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </section>

    <br>
    
    <section class="sidebar">
      <header>公式ブログ</header>
      <div>
        <a href="https://blogs.unity3d.com/jp/">Unity Blog</a>
      </div>
    </section>

    <br>

    <section class="sidebar">
      <header>スマホアプリ/PCゲーム　売上</header>
      <div>
        <a href="http://game-i.daa.jp/?cmd=s&k=6c860e6d10">AppStoreアプリ最新セールスランキング</a>
      </div>
      <br>
      <div>
        <a href="https://store.steampowered.com/search/?filter=topsellers">steam 売上トップ</a>
      </div>
    </section>

    <br>
<!--
    {{ partial "search.html" . }}  

    <br>
-->
    
    {{ partial "af_amazon.html" . }}
  
    <br>
    
    {{ partial "categories.html" . }}
    <br> 

  </div>

</aside>
